.postbody {
    width: 375px;
    height: 105px;
}

.form-control {
    height: 100px;
    width: 500px !important;
    margin-left: 2vh !important;

}

body{
    height: 100% !important;
}


#root{
    min-height:100%;
}

.formcard{
    margin-top:100px!important;
}

nav {
    display: flex;

}

.text-area {
    height: 150px !important;
}



.profilepic{
    border-radius:40px !important;}
.nav-area {
    display: flex !important;
    justify-content: space-between !important;
}

.navbar {

    font-size: 12px;
    height: 50px;

}

.mr-auto {
    margin-right: auto !important;
}

a.nav-link {
    height: 50px
}

a.navbar-brand {
    height: 50px
}

h3 {
    color: orange;
    font-size: 25px !important;
}


.form-group{
    margin-top:0px;
}


.cardbody {
    margin-top: 10px!important;
    margin-bottom:20px!important;

  
}

.homecontainer{
    height: 100vh !important;
}


.sortbtn{
    padding:25px!important;
}

.detailcard{
   margin-top:50px!important;
}

.homecards{
    padding: 0px!important;
    margin-top:0px!important;
}


.votebtn{
 padding: 5px !important
}

/* .footer{
    width: 100%!important;
    margin-left:0px!important;
    border: none !important;
    background: grey!important;
    padding: 0px !important;
    margin: 0px !important;
} */



.footer{
    background: grey!important;
  display: sticky;  
  text-align: center;  
  bottom: 0;  
  right: 0;  
  height: 1.5rem;  
  width: 100%;
 
  }


  .footertext{
      color: orange;
  }

  /* .footerwords{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
} */