.postbody {
    width: 375px;
    height: 105px;
}

.form-control {
    height: 100px;
    width: 500px !important;
    margin-left: 2vh !important;

}

.text-area {
    height: 150px !important;
}



.profilepic{
    border-radius:40px !important;
}